# This is a basic workflow to help you get started with Actions

name: cpplint
on: [push, pull_request]
jobs:
  cpplint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - run: pip install cpplint
    - run: cpplint --filter=-build/include_subdir,-whitespace/comments --recursive .
